Repository Pyxsys/ttg-healthcheck, pull requests merged in 2021-11, with the labels that each got.

#136 Report delay
  daemon/linux/debian/celebid
  daemon/linux/debian/config.json
  daemon/src/system_report.py
  daemon/test/config.json
  daemon/test/test_report_requests.py
Labels: enhancement, daemon, bugfix

#133 Endpoints on server side
  .gitattributes
  server/api/cpuLogs.js
  server/api/device.js
  server/api/diskLogs.js
  server/api/memoryLogs.js
  server/api/shared/filter.js
  server/api/wifiLogs.js
  server/app.js
  server/models/cpu.js
  server/models/device.js
  server/server.js
Labels: User Story, database, server, bugfix, Refactoring

#139 Process cpu usage
  README.md
  daemon/src/system_report.py
  daemon/test/test_report_requests.py
  server/__tests__/daemon.test.js
  server/__tests__/daemon_endpoint.test.js
  server/api/daemon.js
  server/app.js
  server/models/process.js
Labels: enhancement, daemon, server, Refactoring

#142 Fix Change Stream Flaky Test
  server/__tests__/change_streams.test.js
  server/db/change_streams.js
Labels: bugfix

#140 Process cpu status
  daemon/src/system_report.py
  server/__tests__/daemon.test.js
  server/api/daemon.js
  server/models/process.js
Labels: daemon, server

#151 Client - Notification service
  client/package-lock.json
  client/package.json
  client/src/index.scss
  client/src/index.tsx
  client/src/services/notification.service.tsx
Labels: web view

#152 UI frontend implementation of notifications into Front-End Login and Signup
  .idea/inspectionProfiles/Project_Default.xml
  client/src/components/common/inputValidation.tsx
  client/src/components/login.tsx
  client/src/components/signup.tsx
  client/src/services/notification.service.tsx
  server/__tests__/api_common.test.js
  server/api/common/filter.js
  server/api/cpuLogs.js
  server/api/device.js
  server/api/diskLogs.js
  server/api/memoryLogs.js
  server/api/wifiLogs.js
Labels: web view

#154 Daemon memory
  daemon/linux/debian/celebid
  daemon/src/system_report.py
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/__tests__/cpu_logs.test.js
  server/__tests__/daemon.test.js
  server/__tests__/device.test.js
  server/api/daemon.js
  server/models/memory.js
Labels: enhancement, daemon, database, server, Refactoring

#159 Dmn pmem
  daemon/README.md
  daemon/src/system_report.py
  daemon/test/test_psutil.py
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/__tests__/cpu_logs.test.js
  server/__tests__/daemon.test.js
  server/api/daemon.js
  server/models/memory.js
Labels: enhancement, daemon, database, server

#150 Cypress Implementation
  .github/workflows/integration.yml
  README.md
  client/.eslintrc.json
  client/cypress.json
  client/package-lock.json
  client/package.json
  client/src/__tests__/App.test.tsx
  client/src/components/deviceDetailPage.tsx
  client/src/components/devicePage.tsx
  client/src/components/login.tsx
  client/src/components/signup.tsx
  client/src/cypress.json
  client/src/cypress/fixtures/example.json
  client/src/cypress/integration/login-tests.js
  client/src/cypress/integration/signup-tests.js
  client/src/cypress/plugins/index.js
  client/src/cypress/support/commands.js
  client/src/cypress/support/index.js
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/user/login.user.js
  cypress/integration/user/logout.user.js
  cypress/integration/user/register.user.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  server/api/user.js
Labels: web view, Tests, E2E, Dev

#166 bug fix - auth provider on redirects and links
  client/src/App.tsx
  client/src/context/authContext.tsx
  client/src/index.tsx
Labels: web app, bugfix
