Repository Pyxsys/ttg-healthcheck, pull requests merged in 2021-12, with the labels that each got.

#169 Restyle login and register
  client/cypress.json
  client/src/App.scss
  client/src/assets/brainlogo.png
  client/src/components/common/frontPageWrapper.tsx
  client/src/components/login.tsx
  client/src/components/signup.tsx
  client/src/cypress/integration/login-tests.js
  client/src/cypress/integration/signup-tests.js
Labels: enhancement, web view

#176 Update database models
  client/src/App.scss
  client/src/components/deviceDetailPage.tsx
  client/src/components/devicePage.tsx
  client/src/index.scss
  client/src/types/common.d.ts
  client/src/types/cpu.d.ts
  client/src/types/disk.d.ts
  client/src/types/memory.d.ts
  client/src/types/queries.d.ts
  client/src/types/wifi.d.ts
  package-lock.json
  server/__tests__/api/auth.test.js
  server/__tests__/api/common.test.js
  server/__tests__/api/daemon.test.js
  server/__tests__/api/device.test.js
  server/__tests__/api/device_logs.test.js
  server/__tests__/api/user.test.js
  server/__tests__/api_common.test.js
  server/__tests__/change_streams.test.js
  server/__tests__/cpu_logs.test.js
  server/__tests__/disk_logs.test.js
  server/__tests__/memory_logs.test.js
  server/__tests__/wifi_logs.test.js
  server/api/common/filter.js
  server/api/cpuLogs.js
  server/api/daemon.js
  server/api/device.js
  server/api/deviceLogs.js
  server/api/diskLogs.js
  server/api/memoryLogs.js
  server/api/wifiLogs.js
  server/app.js
  server/models/cpu.js
  server/models/device.js
  server/models/device_logs.js
  server/models/disk.js
  server/models/hardware.js
  server/models/memory.js
  server/models/process.js
  server/models/wifi.js
Labels: database, server

#177 Static disk
  client/src/components/deviceDetailPage.tsx
  client/src/components/devicePage.tsx
  client/src/cypress/integration/login-tests.js
  client/src/cypress/integration/signup-tests.js
  client/src/types/common.d.ts
  client/src/types/cpu.d.ts
  client/src/types/memory.d.ts
  client/src/types/wifi.d.ts
  daemon/src/system_report.py
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/__tests__/api/common.test.js
  server/__tests__/api/daemon.test.js
  server/__tests__/api/device.test.js
  server/__tests__/api/device_logs.test.js
  server/api/common/filter.js
  server/api/cpuLogs.js
  server/api/daemon.js
  server/api/device.js
  server/api/deviceLogs.js
  server/models/disk.js
Labels: daemon, database, server
