Repository Pyxsys/ttg-healthcheck, pull requests merged in 2022-01, with the labels that each got.

#182 Static CPU info
  daemon/src/system_report.py
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/__tests__/api/common.test.js
  server/__tests__/api/daemon.test.js
  server/api/daemon.js
Labels: enhancement, daemon, server

#187 Static network
  daemon/README.md
  daemon/linux/debian/config.json
  daemon/src/system_report.py
  daemon/test/config.json
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/__tests__/api/common.test.js
  server/__tests__/api/daemon.test.js
  server/api/daemon.js
Labels: enhancement, daemon, server

#189 Devices page
  client/src/App.scss
  client/src/components/Navbar.tsx
  client/src/components/common/devicesPageWrapper.tsx
  client/src/components/common/pieWheel.tsx
  client/src/components/common/signalStrength.tsx
  client/src/components/device-detail-widgets/cpuAdditionalWidget.tsx
  client/src/components/device-detail-widgets/cpuUsageWidget.tsx
  client/src/components/device-detail-widgets/diskAdditionalWidget.tsx
  client/src/components/device-detail-widgets/diskUsageWidget.tsx
  client/src/components/device-detail-widgets/memoryAdditionalWidget.tsx
  client/src/components/device-detail-widgets/memoryUsageWidget.tsx
  client/src/components/device-detail-widgets/processTable.tsx
  client/src/components/device-detail-widgets/wifiAdditionalWidget.tsx
  client/src/components/device-detail-widgets/wifiUsageWidget.tsx
  client/src/components/deviceDetailPage.tsx
  client/src/components/devicePage.tsx
Labels: web view

#200 Refactor device table
  client/package-lock.json
  client/package.json
  client/src/App.scss
  client/src/components/Navbar.tsx
  client/src/components/common/pagination.tsx
  client/src/components/common/viewTable.tsx
  client/src/components/device-detail-widgets/processTable.tsx
  client/src/components/deviceDetailPage.tsx
  client/src/components/devicePage.tsx
  client/src/index.scss
  client/src/types/tables.d.ts
  client/src/types/wifi.d.ts
  server/models/wifi.js
Labels: web app, web view

#199 Network strength
  daemon/src/system_report.py
  daemon/test/test_report_module.py
  daemon/test/test_report_requests.py
  server/api/daemon.js
Labels: daemon, Tests, Refactoring

#201 Testing
  README.md
  client/cypress/integration/login-tests.js
  cypress.json
  cypress/integration/page/admin.page.js
  cypress/integration/page/deviceDetailPage.page.js
  cypress/integration/page/devicesPage.page.js
  cypress/integration/performance/common/checkPageLoadTime.js
  cypress/integration/performance/common/lighthouseThresholds.js
  cypress/integration/performance/common/loginAndNavigate.js
  cypress/integration/performance/common/runLogin.js
  cypress/integration/performance/dashboard.js
  cypress/integration/performance/deviceDetail.js
  cypress/integration/performance/devicesTable.js
  cypress/integration/performance/login.js
  cypress/integration/user/login.user.js
  cypress/integration/user/register.user.js
  cypress/integration/user/signup.user.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/videos/page/admin.page.js.mp4
  cypress/videos/page/deviceDetailPage.page.js.mp4
  cypress/videos/page/devicePage.page.js.mp4
  cypress/videos/performance/device-page-performance-tests.js.mp4
  cypress/videos/performance/page-visit-performance-tests.js.mp4
  cypress/videos/user/login.user.js.mp4
  cypress/videos/user/logout.user.js.mp4
  cypress/videos/user/register.user.js.mp4
  cypress/videos/user/signup.user.js.mp4
  loadTests/DevicesLoadTest.jmx
  loadTests/LoginLoadTest.jmx
  loadTests/Reports/DevicesLoadTest/Aggregate Graph.png
  loadTests/Reports/DevicesLoadTest/Graph statistics.csv
  loadTests/Reports/DevicesLoadTest/aggregate.csv
  loadTests/Reports/DevicesLoadTest/summary.csv
  loadTests/Reports/LoginLoadTest/Aggregate Graph.png
  loadTests/Reports/LoginLoadTest/Graph statistics.csv
  loadTests/Reports/LoginLoadTest/aggregate.csv
  loadTests/Reports/LoginLoadTest/summary.csv
  package-lock.json
  package.json
  server/package-lock.json
Labels: Tests, performance, E2E
